.blueShimmer {
    position: relative;
    overflow: hidden;
    background-color: #c0d6f9;
    /* base color */
}

.blueShimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(192, 214, 249, 0) 0%,
            rgba(144, 202, 249, 0.6) 50%,
            rgba(192, 214, 249, 0) 100%);
    animation: shimmer 1.5s infinite;
    /* THIS IS REQUIRED */
}

@keyframes shimmer {
    0% {
        left: -150%;
    }

    100% {
        left: 100%;
    }
}