.dualShimmer {
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
}

.dualShimmer::before,
.dualShimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0) 100%);
}

.dualShimmer::after {
    animation: dualMove 1.8s infinite;
}

@keyframes dualMove {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}