.flickerShimmer {
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
}

.flickerShimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 150%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%);
    animation: flicker 0.8s infinite;
}

@keyframes flicker {
    0% {
        left: -150%;
        opacity: 0.5;
    }

    50% {
        left: 100%;
        opacity: 0.8;
    }

    100% {
        left: 100%;
        opacity: 0.5;
    }
}