.pulseLineShimmer {
    position: relative;
    overflow: hidden;
    background-color: #111;
    border-radius: 4px;
}

.pulseLineShimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(90deg,
            transparent 0px,
            transparent 8px,
            rgba(0, 255, 150, 0.5) 8px,
            rgba(0, 255, 150, 0.5) 16px);
    animation: pulseLines 1s linear infinite;
}

@keyframes pulseLines {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 16px 0;
    }
}