.rainbowWaveShimmer {
    position: relative;
    overflow: hidden;
    background-color: #140101;
    border-radius: 6px;
}

.rainbowWaveShimmer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background: linear-gradient(120deg,
            red 0%,
            orange 20%,
            yellow 40%,
            green 60%,
            blue 80%,
            violet 100%);
    animation: waveMove 2s linear infinite;
}

@keyframes waveMove {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-50%);
    }
}