.slowGlow {
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
}

.slowGlow::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0) 60%);
    animation: slowGlowMove 3s infinite;
}

@keyframes slowGlowMove {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}