.verticalStripeShimmer {
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
}

.verticalStripeShimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0) 0px,
            rgba(255, 255, 255, 0.15) 2px,
            rgba(255, 255, 255, 0) 4px);
    animation: verticalStripes 2s linear infinite;
}

@keyframes verticalStripes {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}