.waveShimmer {
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
}

.waveShimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0) 100%);
    animation: wave 2s infinite;
}

@keyframes wave {
    0% {
        transform: translateX(-100%) translateY(0);
    }

    25% {
        transform: translateX(-50%) translateY(3px);
    }

    50% {
        transform: translateX(0%) translateY(0);
    }

    75% {
        transform: translateX(50%) translateY(-3px);
    }

    100% {
        transform: translateX(100%) translateY(0);
    }
}