.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.singleDay {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    background: white;
}

.currentMonthDays {
    background: rgb(213, 240, 255);
}