/* ===================== */
/* BASE STYLES */
/* ===================== */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 500;
  white-space: nowrap;

  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.15s ease;
  text-decoration: none;
}

/* icon wrapper */
.icon {
  display: flex;
  align-items: center;
}

/* label */
.label {
  line-height: 1;
}

/* ===================== */
/* SHAPES */
/* ===================== */
.rounded {
  border-radius: 999px;
}

.flat {
  border-radius: 8px;
}

/* ===================== */
/* SIZES */
/* ===================== */
.xs {
  padding: 6px 12px;
  font-size: 12;
}

.sm {
  padding: 8px 16px;
  font-size: 14px;
}

.md {
  padding: 12px 24px;
  font-size: 16;
}

.lg {
  padding: 12px 32px;
  font-size: 18px;
}

/* ===================== */
/* VARIANT: PRIMARY */
/* ===================== */
.primary {
  background-color: #000;
  color: #fff;
}

.icon path {
  stroke: currentColor;
}

.primary:hover {
  background-color: rgba(0, 0, 0, 0.95);
}

.primary:active {
  background-color: rgba(0, 0, 0, 0.90);
}

.primary:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
  cursor: not-allowed;
}

/* ===================== */
/* VARIANT: SECONDARY */
/* ===================== */
.secondary {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.90);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.secondary:hover {
  border-color: rgba(0, 0, 0, 0.4);
}

.secondary:active {
  border-color: rgba(0, 0, 0, 0.95);
}

.secondary:disabled {
  color: rgba(0, 0, 0, 0.95);
  border-color: currentColor;
  cursor: not-allowed;
}

/* ===================== */
/* VARIANT: DESTRUCTIVE */
/* ===================== */
.destructive {
  background-color: rgba(255, 0, 0, 0.50);
  color: #fff;
}

.destructive:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.destructive:active {
  background-color: rgba(255, 0, 0, 0.05);
  color: rgba(255, 0, 0, 0.50);
  border-color: currentColor;
}

.destructive:disabled {
  background-color: transparent;
  color: rgba(255, 0, 0, 0.50);
  border-color: currentColor;
  cursor: not-allowed;
}

/* ===================== */
/* VARIANT: Brand */
/* ===================== */
.brand {
  background-color: green;
  color: white;
}

.brand:hover {
  background-color: rgba(0, 128, 0, 0.788);
}

.brand:active {
  background-color: rgba(0, 128, 0, 0.63);
  color: white;
  border-color: rgba(0, 128, 0, 0.836);
}

.brand:disabled {
  background-color: rgba(0, 128, 0, 0.3);
  color: white;
  border-color: currentColor;
  cursor: not-allowed;
}