.fieldWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--gray-700);
}

.selectContainer {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  padding: 0 0.5rem;
  background: transparent;
  transition: all 0.2s ease;
  box-shadow: 0px 1px 2px rgb(10, 13, 18, 0.05);
}

.selectContainer:focus-within {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

.select {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 14px 10px;
  background: transparent;
  color: var(--gray-900);
}

.select::placeholder {
  color: var(--gray-500);
}

.select option {
  font-size: 14px;
  color: var(--gray-900);
}

.iconRightError {
  margin-left: 6px;
  color: var(--error-600);
}

.error {
  border-color: var(--error-600) !important;
}

.errorText {
  font-size: 12px;
  color: var(--error-600);
  margin-top: 6px;
}

.hint {
  font-size: 12px;
  color: var(--gray-600);
  margin-top: 4px;
}

.disabled {
  background: var(--gray-50);
  pointer-events: none;
}

.focused {
  color: var(--gray-900);
  outline: 2px solid var(--brand-300);
  background: transparent;
}