.layoutWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.buttonsWrapper li {
  list-style: none;
}

.buttonsWrapper li a {
  color: red;
}