.mainWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  background: var(--gray-200);
  padding: var(--spacing-lg);
  color: var(--brand-800);
  font-weight: 600;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}
