.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Item container */
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.027);
  border-radius: 8px;
}

/* Question button */
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 18px 32px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0px 8px 80px -2.5px rgba(214, 214, 214, 0.2);
  gap: 16px;
}

/* Counter for numbering */
.counter {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

/* Heading text inside question */
.heading {
  flex: 1;
}

/* Icon */
.icon {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Answer panel */
.answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.3s ease;
  padding: 0 32px;
  color: var(--gray-800);
}

/* Active state */
.active.item {
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.144);
}

.active .question {
  border: none;
}

.active .answer {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  margin-top: 0;
  padding: 8px 32px 8px;
  color: rgba(0, 0, 0, 0.8);
}